# dependencies
node_modules/

# next.js build output
.next/
out/

# production
build/

# typescript
*.tsbuildinfo
next-env.d.ts

# env
.env
.env*.local

# prisma local databases
prisma/*.db
prisma/*.db-journal

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / os
.idea/
.DS_Store
